#giph-display-content {
    margin: 10px;
    padding: 20px;

}



.card {


    height: 245px;
    width: 245px;
    margin: 5px;

}

.item-img {
    width: 180px;
    height: 180px;
    padding-top: 10px;
}

#giph-display {}
