html,
body {
    margin: 0;
    height: 100%;
    background: black;
}

nav {}

.header {
    border: 2px black solid;
    margin-bottom: 10px;

    background-color: #5D97F5;
}

.search-form {
    border: 3px #5D97F5 solid;
    padding: 20px;


}

.radio-div {
    padding-top: 10px;
    color: white;
}




.search-form .row {
    margin-bottom: 10px;
}


#return-count {
    color: white;
}

.main {
    color: white;
    margin: 20px 5px 0 5px;
    border: 2px #5D97F5 solid;
}



#giph-display-content {
    margin: 10px;
    padding: 20px;

}



.card {
    background-color: #505E75;

    height: 245px;
    width: 245px;
    margin: 5px;
    color: white;
}

.item-img {
    width: 180px;
    height: 180px;
    padding-top: 10px;
}

#giph-display {}

#searchButton {}

.footer {
    padding: 30px 0 30px 0;
}
